<section class="py-8">
  <div class="container px-6 mx-auto">
    <div class="flex flex-col items-center justify-center w-full">
      <!-- Título -->
      <div class="mb-8">
        <div class="flex items-center justify-center gap-4 mb-6">
          <div class="w-12 h-px bg-gradient-to-r from-transparent to-slate-600"></div>
          <h2 class="text-2xl font-semibold text-slate-100 tracking-wide whitespace-nowrap">
            Search by <span class="text-emerald-400">Region</span>
          </h2>
          <div class="w-12 h-px bg-gradient-to-l from-transparent to-slate-600"></div>
        </div>
      </div>
      <!-- Input + Botón -->
      <div class="flex flex-col items-center w-full max-w-xl gap-4 md:flex-row">
        <!-- Campo de búsqueda -->
        <div class="relative w-full">
          <input #txtSearch (keyup.enter)="onSearch(txtSearch.value)" id="id-s02" type="search" name="id-s02"
            [placeholder]="placeholderInput()" aria-label="Search content"
            class="w-full h-12 px-4 pr-12 transition-all border-b outline-none focus-visible:outline-none peer border-slate-300 text-slate-600 placeholder:text-slate-400 autofill:bg-white focus:border-emerald-500 disabled:cursor-not-allowed disabled:bg-slate-50 disabled:text-slate-100" />
          <svg xmlns="http://www.w3.org/2000/svg"
            class="absolute w-5 h-5 top-3.5 right-4 stroke-slate-400 peer-disabled:cursor-not-allowed" fill="none"
            viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5" aria-hidden="true" aria-label="Search icon"
            role="graphics-symbol">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
          </svg>
        </div>

        <!-- Botón -->
        <button (click)="onSearch(txtSearch.value)"
          class="inline-flex items-center justify-center h-12 gap-2 px-6 text-sm font-medium tracking-wide text-white transition duration-300 rounded whitespace-nowrap bg-emerald-500 hover:bg-emerald-600 focus:bg-emerald-700 disabled:cursor-not-allowed disabled:border-emerald-300 disabled:bg-emerald-300">
          <span>Search</span>
          <span class="relative only:-mx-6">
            <svg class="w-5 h-5 text-white animate-spin" xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 24 24" role="graphics-symbol" aria-labelledby="title-05 desc-05">
              <title id="title-05">Loading</title>
              <desc id="desc-05">Spinning loader icon</desc>
              <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
              <path class="opacity-75" fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
              </path>
            </svg>
          </span>
        </button>
      </div>
    </div>
  </div>
</section>
