<section class="py-10 bg-slate-900">
  <div class="max-w-7xl mx-auto px-4">
    <div class="overflow-x-auto rounded-2xl shadow-xl border border-emerald-600 bg-slate-950">
      <table class="min-w-full table-auto border-collapse text-center">
        <thead>
          <tr class="bg-emerald-600 text-white">
            @for (head of heads(); track head) {
            <th class="h-14 px-4 text-sm font-semibold tracking-wide uppercase">
              {{ head }}
            </th>
            }
          </tr>
        </thead>
        <tbody class="divide-y divide-slate-700">
          @for (country of countries(); track country.cca2; let index = $index) {
          <tr class="bg-slate-800 hover:bg-slate-700 transition-colors duration-200 text-slate-100">

            <td class="h-14 px-4 text-sm font-medium">{{ index + 1 }}</td>

            <td class="h-14 px-4">
              <img [src]="country.flagSvg" [alt]="'SVG of ' + country.name"
                class="inline-block w-6 h-4 rounded-sm shadow-sm" />
            </td>

            <td class="h-14 px-4">
              <img [src]="country.flagPng" [alt]="'Flag of ' + country.name"
                class="inline-block w-12 h-8 rounded shadow-md border border-slate-700" />
            </td>

            <td class="h-14 px-6 text-sm font-medium">{{ country.name }}</td>

            <td class="h-14 px-6 text-sm">{{ country.capital }}</td>

            <td class="h-14 px-6">
              <span class="inline-block bg-emerald-500 text-white rounded-full px-3 py-1 text-xs font-semibold shadow">
                {{ country.population | number }}
              </span>
            </td>

            <td class="h-14 px-6">
              <button [routerLink]="['/country/by/',country.cca2]"
                class="bg-emerald-500 hover:bg-emerald-600 text-white px-4 py-1.5 rounded-full shadow transition">
                View
              </button>
            </td>
          </tr>
          }

          @if (isLoading()) {
          <tr>
            <td colspan="8" class="h-14 text-center text-emerald-400 animate-pulse font-medium">
              Buscando países...
            </td>
          </tr>
          }

          @if (countries().length == 0 && !isLoading() && errorMessage()) { <tr>
            <td colspan="8" class="h-14 text-center text-slate-300 italic">
              No se encontraron resultados
              <span> {{ errorMessage() }}</span>
            </td>
          </tr>
          }

        </tbody>
      </table>
    </div>
  </div>
</section>
